.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/app/.idea
.idea
app/.idea
/app/app.iml
app/app.iml
libraries/slidingmenu
/app/app.iml
/libraries/slidingmenu
